#map {
  position: absolute;
  top: 0; bottom:0; left: 0; right: 0;
}
#menu {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 10000;
}
.popup {
}
.popup > .title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.popup > .links {
  clear: left;
}
.popup > .links > a {
  display: inline-block;
  text-align: center;
  min-width: 2em;
}
.popup > .links > a > img {
  width: auto;
  height: 1.5em;
  border-radius: 0.5em;
}
.popup > .image {
  float: left;
  margin-right: 0.5em;
}
.popup > .image > img {
  max-height: 15em;
  max-width: 15em;
}
.popup > .description {
}
